section#contact.g-bg-tint
  header
    h2 Contact Us
  .g-Section_Content
    p Ready to get that website launched?  Get in touch and let us know a bit about your business and needs and we will be in touch within 24 hours.
    form(netlify, name="contact")
      label Name
        input(type="text", name="name" required)
      label Email Address
        input(type="email", name="email" required)
      label Business Name
        input(type="text", name="business-name")
      label Current Website
        input(type="url", name="website")
      fieldgroup
        label
          input(type="radio", name="needed")
          | New website
        label
          input(type="radio", name="needed")
          | Website redesign
        label
          input(type="radio", name="needed")
          | Other
      label Message
        textarea(name="message") 
      button(type="submit") Submit
