include /mixins/divider

link(href="/assets/css/hero.css" rel="stylesheet")
header#hero
  a.logo(href="/")
    include /static/assets/img/fledge-logo.svg
  .hero_img
    img(src="/assets/img/birds-md.jpg" srcset="/assets/img/birds-md.jpg 504w, /assets/img/birds.jpg 1007w" sizes="(min-width: 600px) 60vw, 100vw" alt="")
    +divider()
  .content
    h1.g-lspace We handcraft <em>effective websites</em> for small businesses.
    unless comingSoon
      div.cta
        a(href="#contact") get<br/>&nbsp; started &rsaquo;

    if comingSoon
      h2 coming&nbsp;soon.

