include /mixins/divider

link(href="/assets/css/hero.css" rel="stylesheet")
header#hero.g-accentWrap
  a.logo(href="/")
    include /static/assets/img/fledge-logo.svg
  .g-accentImg
  .g-accentContent
    h1.g-lspace We handcraft <mark>effective websites</mark> for small businesses.
    unless comingSoon
      div.g-cta
        a(href="#contact") get<br/>&nbsp; started &gt;

    if comingSoon
      h2 coming&nbsp;soon.

