include /mixins/divider

link(href="/assets/css/hero.css" rel="stylesheet")
header#hero
  //- include /static/assets/img/fledge-logo.svg
  //- img(src="/assets/img/fledge-logo.png", alt="")
  h1.logo: a(href="#") FLEDGE<br/>STUDIO
  
  .content
    h2 Hassle-free websites for small businesses.
    h3 Coming soon!

  img(src="/assets/img/birds-sm.jpg" srcset="/assets/img/birds-sm.jpg 600w, /assets/img/birds-md.jpg 800w, /assets/img/birds.jpg 1400w" sizes="(max-width: 600px) 100vw, (min-width: 600px) 60vw, (min-width: 800px) 60vw" alt="")
  //- a.cta(href="#contact")
    span G
    span e
    span t
    span &nbsp;
    span s
    span t
    span a
    span r
    span t
    span e
    span d
    span &#8615;
  +divider()
