link(href="/assets/css/hero.css" rel="stylesheet")
header#hero
  //- .g-bgImg
  a.logo(href="#") FLEDGE<br/>STUDIO
  
    //- include /static/assets/img/fledge-logo.svg
    //- img(src="/assets/img/fledge-logo.png", alt="")
  h1 Hassle-free websites for small businesses.
  a.b-button(href="#contact") Contact us
