link(href="/assets/css/recent-work.css" rel="stylesheet")
section#recent-work
  header
    h2 Our recent work
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, eum!
  .g-Section_Content
    img(src="/assets/img/alice-woods-website.png", alt="Alice Woods photography website")
    h3 Alice Woods website
    a.b-button(href="http://www.alicewoods.com" target="_blank") www.alicewoods.com
    p Alice Woods is a Toronto-based photographer who has become successful just through her Instagram page.  We created and launched a portfolio website where she can display her favorite work, answers questions about her services, sell prints and get in touch with clients. 
    p Here’s what Alice has to say about working with us: 
    p.g-text-large "Manfred is a pretty cool guy!"
