extends /layouts/layout.pug

include /components/hello-world.pug

append settings
  -
    title = "Fledge Studio"
    description = "Hassle-free websites for small businesses."
    page = 'p-home'
  
append head
  link(rel="prefetch" href="/assets/img/fledge-logo.png" as="image")
  link(rel="stylesheet" href="/assets/css/p-home.css")
  //- style
    include:sass /css/hero.scss
  
//- append body

append main
  //- link(href="/assets/css/hero.css" rel="stylesheet")
  header#hero
    a.logo(href="/")
      include /static/assets/img/fledge-logo.svg
    h1 We handcraft effective websites for small businesses.
    a(href="#") get started &gt;

  section#about-us
    span.hey Hi there,
    p It’s nice to meet you.
    p We are a husband and wife team and co-founders of Fledge Studio, a web design and development studio based in Toronto.
    p We love helping other small business owners succeed online.
    a(href="#") more about us &gt;
    img(src="/assets/img/dillon-and-rachel-hug.jpg")

  section#packages
    h2 our packages

    div
      h3 1 | One page website
      p A simple website designed to describe your services and connect you with people who want to hire you.
      ul.features
        li consultation &amp; recommendations
        li fast, secure &amp; responsive one page website
        li simple contact form
        li 4 week engagement
      span $1000

  include /components/contact
