extends /layouts/default.pug

append settings
  -
    title = "Fledge Studio"
    description = "Handcrafted, effective, and affordable websites."
    page = 'p-home'
  
append styles
  //- link(rel="prefetch" href="/assets/img/birds-flying.jpg" as="image")
  //- link(rel="prefetch" href="/assets/img/dillon-and-rachel.jpg" as="image")
  //- link(rel="prefetch" href="/assets/img/working-together.jpg" as="image")
  style
    include /css/home-hero.css
    include /css/about-us.css
  
//- append body

append main
  //- +loadCss("/assets/css/home-hero.css")
  header#home-hero
    .content
      h1.g-bg-primary-fade We handcraft effective and affordable websites.
      a.g-cta(href="#contact") get started &gt;

  //- +loadCss("/assets/css/about-us.css")
  section#about-us
    .content
      h2.g-text-primary hello!
      p It’s nice to meet you.
      p We are a husband and wife team and co-founders of Fledge Studio, a web design and development studio based in Toronto.
      p.g-inverse.goal Our goal is to help other small business owners create a website that gets them hired.
      div.g-text-right
        a.g-bg-secondary-fade.g-text-default.g-cta(href="/about.html") more about us &gt;

  +loadCss("/assets/css/packages.css")
  section#packages
    h2 our packages
    div.package
      div.features
        h3 One page website
        ul
          li consultation &amp; recommendations
          li fast, secure &amp; responsive one page website
          li simple contact form
          li 4 week engagement
      div.description
        p.g-bg-secondary-fade A simple website designed to describe your services and connect you with people who want to hire you.
        .g-text-right
          span.price.g-bg-primary-fade #[sup $]1000

    div.package
      div.features
        h3 Multi page website
        ul
          li consultation &amp; recommendations
          li fast, secure &amp; responsive mlti-page website
          li contact form and / or portfolio included
          li 6 week engagement
      div.description
        p.g-bg-secondary-fade For businesses that want to give their potential clients an in depth look at their team, processes or services. Or for creators with a portfolio to share.
        .g-text-right
          span.price.g-bg-primary-fade #[sup $]2000

    div.package
      div.features
        h3 Content management system
        ul
          li consultation &amp; recommendations
          li fast, secure &amp; responsive multi-page website
          li contact form and / or portfolio included
          li built in blog or news feed
          li design integrated with content management system
          li 8 week engagement
      div.description
        p.g-bg-secondary-fade A multi-page website that gives you and your team the ability to edit all the images, text and pages on the site.
        .g-text-right
          span.price.g-bg-primary-fade #[sup $]5000
  
  include /components/cta-section

  include /components/contact
