extends _layout.pug

include /mixins/hello-world.pug

append settings
  -
    title = "Fledge Studio"
    description = "Hassle-free websites for small businesses."
    page = 'p-home'
  
append head
  link(rel="prefetch" href="/assets/img/fledge-logo.png" as="image")
  link(rel="stylesheet" href="/assets/css/p-home.css")
  style
    //- include:sass /css/hero.scss
  
//- append body

append main
  //- link(href="/assets/css/hero.css" rel="stylesheet")
  header#hero.g-accentWrap
    a.logo(href="/")
      include /static/assets/img/fledge-logo.svg
    .g-accentImg
    .g-accentContent
      h1.g-lspace We handcraft <mark>effective websites</mark> for small businesses.
      unless comingSoon
        div.g-cta
          a(href="#contact") get started &gt;

      if comingSoon
        h2 coming&nbsp;soon.

  section#who-we-are.g-accentWrap
    .g-accentImg.g-accentImg-reverse
    .g-accentContent
      span.hey hello!
      p We are Dillon and Rachel Headley, a husband and wife team based in Toronto.
      p We help people design and build a website that makes it easy for them to get hired.

      div.g-cta
        a(href="#") learn more &gt;


  section
    header
      h2 Who we are
    .g-Section_Content
      p We are Dillon and Rachel Headley, a husband and wife team based in Toronto, Canada.
      p Dillon is a senior web developer with five years experience building small and large websites and web applications both as a freelancer and for agencies.  He has
      p Rachel is an experienced administrative professional and project manager.  She excels at listening to and communicating with clients, understanding their needs and helping them create effective content and designs.
      p.g-Text-large Together we are passionate about helping small-businesses succeed.
      a.b-button(href="#contact") Contact us

  include _recent-work
  include _contact
