extends _layout.pug

include /mixins/hello-world.pug

append settings
  -
    title = "Fledge Studio"
    description = "Hassle-free websites for small businesses."
    page = 'index'
  
append head
  link(rel="prefetch" href="/assets/img/fledge-logo.png" as="image")
  link(rel="stylesheet" href="/assets/css/index.css")
  style
    //- include:sass /css/hero.scss
  
block body
  - comingSoon = 1
  include _hero

//- append main
  section
    header
      h2 How we help
    .g-Section_Content
      p Most small business owners we meet know they desperately need a website or to upgrade their current website, but they don’t know where to start, what platform to use, how to create their content and, most of all, when they will find the time to do it all. We get it.
      p.g-Text-large We help small-business owners create websites that grab the attention of their ideal client. Our goal is to speed up the website creation process and take the stress out of it.
      a.b-button(href="#contact") Contact us

  section
    header
      h2 Who we are
    .g-Section_Content
      p We are Dillon and Rachel Headley, a husband and wife team based in Toronto, Canada.
      p Dillon is a senior web developer with five years experience building small and large websites and web applications both as a freelancer and for agencies.  He has
      p Rachel is an experienced administrative professional and project manager.  She excels at listening to and communicating with clients, understanding their needs and helping them create effective content and designs.
      p.g-Text-large Together we are passionate about helping small-businesses succeed.
      a.b-button(href="#contact") Contact us

  include _recent-work
  include _contact
