extends _layout.pug

include /components/hello-world/_hello-world.pug

block settings
  -
    title = "Fledge Studio"
    description = "Hassle-free websites for small businesses."

block body
  header.g-Header
    .g-BgImg
    .g-Header_Logo
      //- include /static/assets/img/fledge-logo.svg
      img(src="assets/img/fledge-logo.png", alt="")
    h1 Hassle-free websites for small businesses.
    a.b-Button(href="#contact") Contact us

block main
  section.g-Section
    header
      h2 How we help
    .g-Section_Content
      p Most small business owners we meet know they desperately need a website or to upgrade their current website, but they don’t know where to start, what platform to use, how to create their content and, most of all, when they will find the time to do it all. We get it.
      p.g-Text-large We help small-business owners create websites that grab the attention of their ideal client. Our goal is to speed up the website creation process and take the stress out of it.
      a.b-Button(href="#contact") Contact us
  .g-ImageBlock
    .g-BgImg

  section.g-Section
    header
      h2 Who we are
    .g-Section_Content
      p We are Dillon and Rachel Headley, a husband and wife team based in Toronto, Canada.
      p Dillon is a senior web developer with five years experience building small and large websites and web applications both as a freelancer and for agencies.  He has
      p Rachel is an experienced administrative professional and project manager.  She excels at listening to and communicating with clients, understanding their needs and helping them create effective content and designs.
      p.g-Text-large Together we are passionate about helping small-businesses succeed.
      a.b-Button(href="#contact") Contact us
  .g-ImageBlock
    .g-BgImg

  section.g-Section
    header
      h2 Our recent work
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, eum!
    .g-Section_Content
      img(src="assets/img/alice-woods-website.png", alt="Alice Woods photography website")
      h3 Alice Woods website
      a.b-Button(href="#") www.alicewoods.com
      p Alice Woods is a Toronto-based photographer who has become successful just through her Instagram page.  We created and launched a portfolio website where she can display her favorite work, answers questions about her services, sell prints and get in touch with clients. 
      p Here’s what Alice has to say about working with us: 
      p.g-Text-large "..."

  section#contact.g-Bg-tint.g-Section
    header
      h2 Contact Us
    .g-Section_Content
      p Ready to get that website launched?  Get in touch and let us know a bit about your business and needs and we will be in touch within 24 hours.
      form(netlify, name="contact")
        label Name
          input(type="text", name="name" required)
        label Email Address
          input(type="email", name="email" required)
        label Business Name
          input(type="text", name="business-name")
        label Current Website
          input(type="url", name="website")
        fieldgroup
          label
            input(type="radio", name="needed")
            | New website
          label
            input(type="radio", name="needed")
            | Website redesign
          label
            input(type="radio", name="needed")
            | Other
        label Message
          textarea(name="message") 
        button(type="submit") Submit
    
  footer.g-Footer
    a(href="mailto:contact@fledgestudio.co") contact@fledgestudio.co
    a(href="tel:contact@fledgestudio.co") 647-217-4207