+loadCss("/assets/css/cta-section.css")
section#cta-section
  p.g-text-primary.g-bg-white Ready to work together? #[br] Fill in the contact form below and #[a(href="#"): strong let’s get started &gt;]
