+loadCss("/assets/css/cta-section.css")
section#cta-section(data-src="/assets/img/working-together.jpg")
  p.g-text-primary.g-bg-white Ready to work together? #[br] Fill in the contact form below and #[a(href="/#contact"): strong let’s get started&nbsp;&gt;]
