mixin loadCss(path)
  //- link(rel="preload" href=path as="style" onload="this.rel='stylesheet'") 
  link(rel="stylesheet" href=path)
  <script> </script>
  //- noscript:link(rel="stylesheet" href=path)