mixin loadCss(path)
  link(rel="preload" href=path as="style" onload="this.rel='stylesheet'")
  noscript:link(rel="stylesheet" href=path)
  //- to test normal stylesheets:
  //- link(rel="stylesheet" href=path as="style")