mixin loadCss(path)
  //- link(rel="stylesheet" href=path as="style")
  link(rel="preload" href=path as="style" onload="this.rel='stylesheet'") 
  <script> </script>
  noscript:link(rel="stylesheet" href=path)