// COLORS
// ------

$base_color: #333;
$light_grey: #F1F1F1;
// $sky_grey: #b0b6c6;
$green: #82CEC4;
$purple: #8594D6;
$pink: #F2D9E6;
$light_blue: #ADD9F4;

$brand_color: $purple;

// WHITE SPACE
// -----------

$base_spacing: calc(2rem + 8vw);
