#about-us {
  max-width: 76.8rem;
  margin-top: var(--theme-space-default);
  padding-right: var(--theme-space-default);
  background-image: url(/assets/img/dillon-and-rachel.jpg);
  background-size: calc(20rem + 30vw);
  background-repeat: no-repeat;
  display: flex;
  padding-top: calc(25rem - 5vw);
  /* justify-self: end; */
}
@media (min-width: 47.5em) {
  #about-us {
    background-size: 42rem;
    padding-top: 0;
  }
}

#about-us h2 {
  text-align: right;
  margin-right: var(--theme-space-large);
}
#about-us p {
  padding: 0 var(--theme-space-default);
}
#about-us .content {
  flex: 0 1 40rem;
  margin-left: auto;
}
#about-us .goal {
  padding-top: var(--theme-space-default);
  padding-bottom: var(--theme-space-default);
  margin-bottom: 0;
}
#about-us .g-cta {
  padding: 1rem 2rem;
  transform: translate(2rem, -1rem);
  display: inline-block;
}