/* Base */
:root {
  font-size: 10px;
  box-sizing: border-box;

  --brand-color: #c90d3f;
  --base-color: #333;
  --light-grey: #fdfdfd;
  --sky-grey: #b0b6c6;
  --base-spacing: 4rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2.2rem;
  font-family: "HalisR", "Helvetica";
  font-weight: 300;
  color: var(--base-color);
  line-height: 1.4;
  height: 100vh;
  perspective: 2px;

}

h1, h2, h3, h4 {
  font-weight: 500;
}

input:not([type=radio]) {
  display: block;
  width: 100%;
}

[type=radio] {
  vertical-align: middle;
  margin-right: 0.5em;
}

textarea {
  display: block;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 2rem;
}

button, .b-Button {
  background-color: var(--brand-color);
  border: 1px solid var(--brand-color);
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1em 2em;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

a {
  color: var(--brand-color);
}

img, svg {
  max-width: 100%;
}