#contact {
  margin-top: var(--theme-space-default);
  margin-bottom: var(--theme-space-default);
  max-width: 90rem;
}
#contact .content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#contact h2 {
  background-color: var(--theme-secondary-fade);
  padding: 1rem var(--theme-space-default);
  margin-bottom: var(--theme-space-default);
  display: inline-block;
}
#contact p {
  flex: 1 1 50%;
  padding-left: var(--theme-space-default);
  padding-right: var(--theme-space-default);
}
#contact form {
  flex: 1 1 50%;
}
#contact button {
  --button-color: var(--theme-primary);
}