#contact {
  margin-top: var(--theme-space-default);
  margin-bottom: var(--theme-space-default);
}
#contact .content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
#contact h2 {
  background-color: var(--theme-secondary-fade);
  padding: 1rem var(--theme-space-default);
  margin-right: auto;
  margin-bottom: var(--theme-space-default);
  flex: 0 0 auto;
}
#contact p {
  flex: 1 1 50%;
  padding-left: var(--theme-space-default);
  padding-right: var(--theme-space-default);
}
#contact form {
  flex: 1 1 50%;
}