#cta-section {
  /* background-image: url(/assets/img/working-together.jpg); */
  background-position: top center;
  image-rendering: -webkit-optimize-contrast;
  background-size: cover;
  height: 48rem;
  max-height: 48vw;
  justify-self: stretch;
}
#cta-section p {
  margin: var(--theme-space-default) 0;
  padding: 1rem;
  max-width: 32rem;
}