@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-Black-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-Black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-Medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-ExtraLight-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-ExtraLight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-Book-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-Book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-Thin-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-Thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
