.g-Header {
  text-align: center;
  padding: 4rem var(--base-spacing) 10rem;
  
  position: relative;
  min-height: 60vh;

  @supports(grid-auto-rows: 1fr) {
    display: grid;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
  }

  & svg * {
    fill: currentColor;
  }
}

.g-Header_Logo {
  max-width: 300px;
}

.g-ImageBlock {
  position: relative;
  height: 80vh;
}

.g-BgImg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-size: cover;
  background-position: center center;
  background-image: url(img/flying-bird.jpg);
}

.g-Section {
  padding: 10rem var(--base-spacing);

  @supports(grid-auto-rows: 1fr) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 2rem;
    justify-content: space-between;
    justify-items: start;
    @media(min-width: 600px) {
      display: grid;
    }
  }

  & h2 {
    margin-top: 0;
  }

  & p:first-child {
    margin-top: 0;
  }
}

.g-Footer {
  text-align: center;
  padding: 8rem var(--base-spacing);
  background-color: var(--sky-grey);
  & a {
    display: block;
    color: currentColor;
    text-decoration: none;
  }
  & a + a {
    margin-top: 2rem;
  }
}

.g-Bg-tint {
  background-color: var(--light-grey);
}

.g-Text-large {
  font-size: 1.5em;
}