@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-Black-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-Black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-Medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-ExtraLight-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-ExtraLight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-Book-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-Book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HalisR';
    src: url('/assets/fonts/HalisR-Thin-webfont.woff2') format('woff2'),
         url('/assets/fonts/HalisR-Thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* Base */
:root {
  --theme-text: #333;
  --theme-primary: #DB7070;
  --theme-primary-fade: rgba(253,244,240, 0.7);
  --theme-secondary: #ADD9F4; 
  --theme-secondary-fade: rgba(173,217,244,0.2);
  --theme-neutral: lightgrey;
  --theme-font-title: "Roboto", "Helvetica";
  --theme-font-body: "Roboto", "Helvetica";
  --theme-space-default: 3rem;
  --theme-space-large: 8rem;
  --root-font-size: 62.5%;
  --theme-font-size: 2rem;
  font-size: var(--root-font-size);
  box-sizing: border-box;
}

@media(min-width: 75em) {
  :root {
    --root-font-size: calc(62.5% + 0.1vw);
  }
}

body {
  font-size: var(--theme-font-size);
  font-family: var(--theme-font-body);
  font-weight: 300;
  line-height: 1.4;
}

@supports(grid-auto-rows: 1fr) {
  main {
    display: grid;
  }
}
main {
  overflow: hidden;
  grid-template-columns: 1fr [content-start] minmax(0, 120rem) [content-end] 1fr;
  justify-items: center;
}
main > * {
  grid-column: content;
}

h1, h2, h3, h4, h5, h6, .g-heading {
  font-family: var(--theme-font-title);
}

h1, .g-h1 {
  font-weight: 300;
  font-size: 3rem;
}
h2, .g-h2 {
  font-weight: 300;
  font-size: 5rem;
  line-height: 1;
}
h3, .g-h3 {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
}

a {
  color: var(--theme-primary);
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

ul {
  padding-left: 2rem;
}

legend {
  font-size: inherit;
}

input:not([type=radio]) {
  display: block;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
}

figure {
  margin: 0;
}
figure img {
  width: 100%;
  display: block;
}

img {
  max-width: 100%;
}

[type=radio] {
  vertical-align: middle;
  margin-right: 0.5em;
}

textarea {
  display: block;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 2rem;
}

button, .g-button {
  background-color: var(--theme-neutral);
  border: 1px solid var(--theme-neutral);
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1em 2em;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
}

.g-svg-fill * {
  fill: currentColor;
}

.g-container {
  margin: 0 auto;
  width: 60em;
  max-width: calc(100% - 20px);
}
.g-text-right {
  text-align: right;
}
.g-text-default {
  color: var(--theme-text);
}
.g-text-primary {
  color: var(--theme-primary);
}
.g-text-primary-fade {
  color: var(--theme-primary-fade);
}
.g-text-secondary {
  color: var(--theme-secondary);
}

.g-bg-white {
  background-color: white;
}
.g-bg-primary {
  background-color: var(--theme-primary);
}
.g-bg-primary-fade {
  background-color: var(--theme-primary-fade);
}
.g-bg-secondary {
  background-color: var(--theme-secondary);
}
.g-bg-secondary-fade {
  background-color: var(--theme-secondary-fade);
}
.g-inverse {
  background-color: var(--theme-text);
  color: white;
}

.g-logo {
  display: inline-block;
  width: 8.5rem;
  margin: 2rem 0 0 2rem;
}
.g-logo svg {
  width: 100%;
}

.g-cta {
  font-weight: bold;
  /*font-style: italic;*/
  transition: all 100ms;
}
