@import "variables";
#hero {
  position: relative;
  // padding: 4rem $base_spacing 10rem;

  grid-template-rows: repeat(2, minmax(auto, 40vh));
  .logo {
    grid-column: container-start;
    grid-row: 1;
    font-weight: bold;
    margin: 0;
    align-self: center;
    font-size: calc(2vw + 1em);
    a {
      text-decoration: none;
      color: currentColor;
    }
  }
  .cta {
    grid-column-end: container-end;
    grid-row: 1 / span 2;
    align-self: center;
    justify-self: end;
    padding: 1em;
    margin: 1em 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    background-color: hsla(0, 100%, 100%, 0.7);
    transition: all 350ms;
    &:hover {
      background-color: white;
    }
    span {
      @supports(grid-auto-rows: 1fr) {
        display: block;
      }
    }
  }
  h2 {
    grid-column: container-start;
    grid-row: 2;
    align-self: center;
    font-size: calc(1.5vw + 0.8em);
  }
  img {
    grid-column: divider-start / max-end;
    grid-row: 1 / -1;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    height: 100%;
  }
}
