#home-hero {
  /* background-image: url(/assets/img/birds-flying-md.jpg); */
  image-rendering: -webkit-optimize-contrast;
  background-repeat: no-repeat;
  min-height: 25rem;
  max-width: 75rem;
  margin: 0 5rem 0 var(--theme-space-default);
  display: flex;
  align-items: flex-end;
  background-size: 60vw;
  background-position: right top;
  padding-top: 20vw;
  /* justify-self: start; */
}
@media (min-width: 47.5em) {
  #home-hero {
    background-size: contain;
    background-position: right 100%;
    padding-top: 0;
    align-items: center;
    /* background-image: url(/assets/img/birds-flying.jpg);     */
  }
}
#home-hero .content {
  margin-right: 8vw;
  flex: 0 1 36rem;
}
#home-hero h1 {
  padding: 1rem 1.8rem 1rem 1.9rem;
}
#home-hero .g-cta {
  margin-left: calc(5rem + 5vw);
}