#home-hero {
  background-image: url(/assets/img/birds-flying.jpg);
  background-repeat: no-repeat;
  min-height: 25rem;
  max-width: 70rem;
  margin: 0 5rem 0 var(--theme-space-default);
  display: flex;
  align-items: flex-end;
  background-size: 60vw;
  background-position: right top;
  padding-top: 20vw;
  /* justify-self: start; */
}
@media (min-width: 47.5em) {
  #home-hero {
    background-size: contain;
    background-position: right 100%;
    padding-top: 0;
    align-items: center;
  }
}
#home-hero .content {
  margin-right: 4rem;
  flex: 0 1 35rem;
}
#home-hero h1 {
  padding: 1rem;
}
#home-hero .g-cta {
  margin-left: calc(5rem + 5vw);
}