@import "variables";

#index {
  main {
    > section {
      padding: 4vw 0;
      header {
        grid-column: container-start / mid;
      }
      h2 {
        margin-top: 0;
      }
      p:first-child {
        margin-top: 0;
      }
    }
  }
}
