@import "variables";

#p-home {
  #hero {
    .logo {
      color: currentColor;
      text-decoration: none;
      display: inline-block;
      padding: 1em 2em;
      background-color: white;
      @media (min-width: 40em) {
        position: absolute;
        top: 4em;
        z-index: 1;
      }
    }
    h1 {
      padding-top: 10vw;
      font-size: calc(1.1em + 2.1vw);
    }
    mark {
      position: relative;
      font-style: normal;
      background-color: fade-out($light_blue, 0.5);
      // &:before {
      //   content: '';
      //   background-color: $light_blue;
      //   opacity: 0.5;
      //   display: inline-block;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   bottom: 0;
      //   z-index: -1;
      //   transform: scaleX(1.1);
      // }
    }
    .g-accentImg {
      background-image: url(/assets/img/birds-md.jpg);
      @media (min-width: 40em) {
        background-image: url(/assets/img/birds.jpg);
      }
    }
  }
  #who-we-are {
    .g-accentImg {
      background-image: url(/assets/img/dillon-and-rachel.jpg);
      background-position: center calc(50%);
    }
    .hey {
      font-size: 15vw;
      font-weight: bold;
      color: $green;
      opacity: 0.5;
      display: block;
      height: 0.9em;
    }
    p {
      @media (min-width: 40em) {
        font-size: calc(1rem + 2vw);
        transform: translateX(4vw);
      }
    }
    .g-cta {
      text-align: center;
      a {
        color: currentColor;
      }
    }
  }
}
