#p-home #hero {
  background-image: url(/assets/img/birds.jpg);
  background-position: right center;
  background-size: 60rem;
  background-repeat: no-repeat;
  min-height: 50vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#p-home #hero h1 {
  max-width: 21ch;
  padding: 1rem;
}
#p-home #hero .g-cta {
  margin-left: 10rem;
}