block settings
  -
    title = "Fledge Studio"
    description = "A simple modular base with Pug Sass and Babel"
    page = ''

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="manifest" href="/manifest.json")
    block title
      title #{title}

    block meta
      meta(name="description" content="#{description}")

    block styles
      link(href='/assets/css/reboot.css' rel='stylesheet')
      link(href='/assets/css/global.css' rel='stylesheet')
      link(href="https://fonts.googleapis.com/css?family=Roboto:300,500,800" rel="stylesheet")
    block head
  body(id=page)
    block body
    header#header
      a.g-logo(href="/")
        include /static/assets/img/logo.svg

    main
      block main

    block footer
      include /components/footer
    block scripts
      script(src='/assets/js/app.js')
      //- script.
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('service-worker.js', {
              scope: './'
          })
        }
